.main-corner {
    &.static {
        padding-top: 30px;
        padding-bottom: 16px;
        background-color: $light;
        .header {
            border-bottom: 1px solid $border-gray;
        }
        .taps-parent {
            margin: 15px 0;
            padding: 0 15px;
            .taps-child {
                margin: 10px 0;
                cursor: pointer;
                a {
                    display: flex;
                    text-decoration: none;
                }
                &.active {
                    position: relative;
                    &:before {
                        content: '';
                        width: 4px;
                        height: 25px;
                        position: absolute;
                        left: -10px;
                        background-color: $blue;
                    }
                }
                .icon, .text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $gray-900;
                }
                .text {
                    padding-left: 10px;
                }
            }
        }
        .profile {
            bottom: 0;
            margin-bottom: 94px;
            .profile-image {
                filter: saturate(0);
                transition: all .5s ease;
                &:hover {
                    filter: saturate(1);
                    transition: all .5s ease;
                }
                img {
                    max-width: 64px;
                    max-height: 64px;
                    min-width: 64px;
                    min-height: 64px;
                    border-radius: 50%;
                }
            }
        }
    }
    &.dynamic {
        padding-top: 30px;
        padding-bottom: 16px;
        background-color: $white;
        .search-area {
            cursor: pointer;
        }
        .dynamic-heading, .dynamic-content {
            margin-top: 20px;
        }
    }
}
