section {
    &#explore {
        .dynamic-content {
            margin-bottom: 120px;
            .item {
                margin-top: 20px;
                &.playing {
                    img {
                        -webkit-filter: blur(0) saturate(1) !important;
                        filter: blur(0) saturate(1) !important;
                    }
                }
                .image {
                    text-align: center;
                    cursor: pointer;
                    i {
                        position: absolute;
                        left: 40%;
                        top: 30%;
                        z-index: 800;
                        opacity: 0;
                        -moz-transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -ms-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                    }
                    img {
                        max-width: 200px;
                        max-height: 200px;
                        min-width: 200px;
                        min-height: 200px;
                        -webkit-filter: blur(3px) saturate(.5);
                        filter: blur(3px) saturate(.5);
                        -moz-transition: all .2s ease-in-out;
                        -webkit-transition: all .2s ease-in-out;
                        -ms-transition: all .2s ease-in-out;
                        -o-transition: all .2s ease-in-out;
                        transition: all .2s ease-in-out;
                    }
                    &:hover {
                        i {
                            opacity: 1;
                        }
                        img {
                            -webkit-filter: blur(0) saturate(1);
                            filter: blur(0) saturate(1);
                        }
                    }
                    
                }
                .name {
                    margin-top: 10px;
                    color: $black;
                }
                .name, .artist {
                    text-align: center;
                    cursor: pointer;
                }
            }
        }
    }
}
